<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bacnet</key>
	<array>
		<dict>
			<key>brandname</key>
			<string>dakin</string>
			<key>fan_speed</key>
			<string>low,middle,high</string>
			<key>mode</key>
			<string>cooling,heating,ventilation,dehumidifying</string>
			<key>min_temp</key>
			<string>12</string>
			<key>max_temp</key>
			<string>30</string>
		</dict>
		<dict>
			<key>brandname</key>
			<string>sanling</string>
			<key>fan_speed</key>
			<string>low,middle,high</string>
			<key>mode</key>
			<string>cooling,heating,ventilation,dehumidifying</string>
			<key>min_temp</key>
			<string>12</string>
			<key>max_temp</key>
			<string>30</string>
		</dict>
	</array>
	<key>485</key>
	<array>
		<dict>
			<key>brandname</key>
			<string>ecc_o1</string>
			<key>fan_speed</key>
			<string>low,middle,high,auto</string>
			<key>mode</key>
			<string>cooling,heating,ventilation</string>
			<key>min_temp</key>
			<string>12</string>
			<key>max_temp</key>
			<string>30</string>
		</dict>
		<dict>
			<key>brandname</key>
			<string>htc961d3200</string>
			<key>fan_speed</key>
			<string>low,middle,high,auto</string>
			<key>mode</key>
			<string>cooling,heating,auto</string>
			<key>min_temp</key>
			<string>12</string>
			<key>max_temp</key>
			<string>30</string>
		</dict>
		<dict>
			<key>brandname</key>
			<string>ecc_dt300</string>
			<key>fan_speed</key>
			<string>low,middle,high,auto</string>
			<key>mode</key>
			<string>cooling,heating,ventilation</string>
			<key>min_temp</key>
			<string>12</string>
			<key>max_temp</key>
			<string>30</string>
		</dict>
	</array>
</dict>
</plist>
