<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>main_light</string>
		<key>image</key>
		<string>device_type_light.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_curtain</string>
		<key>image</key>
		<string>device_type_curtain.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_relay</string>
		<key>image</key>
		<string>device_type_relay.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_zone</string>
		<key>image</key>
		<string>device_type_zone.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ip_camera</string>
		<key>image</key>
		<string>device_type_ip_camera.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_air_conditioner</string>
		<key>image</key>
		<string>device_type_air_conditioner.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ventilation</string>
		<key>image</key>
		<string>device_type_ventilation.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_backaudio</string>
		<key>image</key>
		<string>device_type_backaudio.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ir_dvd</string>
		<key>image</key>
		<string>ir_dvd.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ir_television</string>
		<key>image</key>
		<string>ir_television.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ir_stb</string>
		<key>image</key>
		<string>ir_stb.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ir_ac</string>
		<key>image</key>
		<string>ir_ac.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_ir_customize</string>
		<key>image</key>
		<string>ir_customize.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>main_call_elevator</string>
		<key>image</key>
		<string>device_type_elevator.png</string>
	</dict>
</array>
</plist>
