<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imagename</key>
		<string>IR_POWER</string>
		<key>image</key>
		<string>ir_control_power.png</string>
		<key>name</key>
		<string>电源</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_OK</string>
		<key>image</key>
		<string>ir_control_ok.png</string>
		<key>name</key>
		<string>OK</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_INPUT</string>
		<key>image</key>
		<string>ir_control_change.png</string>
		<key>name</key>
		<string>输入</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_MUTE</string>
		<key>image</key>
		<string>ir_control_mute.png</string>
		<key>name</key>
		<string>静音</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_BACK</string>
		<key>image</key>
		<string>ir_control_back.png</string>
		<key>name</key>
		<string>返回</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_MENU</string>
		<key>image</key>
		<string>ir_control_menu.png</string>
		<key>name</key>
		<string>菜单</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_VOL_UP</string>
		<key>image</key>
		<string>ir_control_volume_up.png</string>
		<key>name</key>
		<string>声音＋</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_VOL_DOWN</string>
		<key>image</key>
		<string>ir_control_volume_down.png</string>
		<key>name</key>
		<string>声音－</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_UP</string>
		<key>image</key>
		<string>ir_control_up.png</string>
		<key>name</key>
		<string>上</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_DOWN</string>
		<key>image</key>
		<string>ir_control_down.png</string>
		<key>name</key>
		<string>下</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_LEFT</string>
		<key>image</key>
		<string>ir_control_left.png</string>
		<key>name</key>
		<string>左</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_RIGHT</string>
		<key>image</key>
		<string>ir_control_right.png</string>
		<key>name</key>
		<string>右</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_HOME</string>
		<key>image</key>
		<string>ir_control_home.png</string>
		<key>name</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_FB</string>
		<key>image</key>
		<string>ir_control_fast_reverse.png</string>
		<key>name</key>
		<string>快退</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_PLAY</string>
		<key>image</key>
		<string>ir_control_play.png</string>
		<key>name</key>
		<string>播放</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_FF</string>
		<key>image</key>
		<string>ir_control_fast_forward.png</string>
		<key>name</key>
		<string>快进</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_PG_LAST</string>
		<key>image</key>
		<string>ir_control_previous.png</string>
		<key>name</key>
		<string>上一个</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_PAUSE</string>
		<key>image</key>
		<string>ir_control_pause.png</string>
		<key>name</key>
		<string>暂停</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_PG_NEXT</string>
		<key>image</key>
		<string>ir_control_next.png</string>
		<key>name</key>
		<string>下一个</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_STOP</string>
		<key>image</key>
		<string>ir_control_stop.png</string>
		<key>name</key>
		<string>停止</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_DISK_IO</string>
		<key>image</key>
		<string>ir_control_dvd_out.png</string>
		<key>name</key>
		<string>出舱</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_CHANNEL_DOWN</string>
		<key>image</key>
		<string>ir_control_channel_down.png</string>
		<key>name</key>
		<string>频道+</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_CHANNEL_UP</string>
		<key>image</key>
		<string>ir_control_channel_up.png</string>
		<key>name</key>
		<string>频道-</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_KEYPAD</string>
		<key>image</key>
		<string>ir_control_keypad.png</string>
		<key>name</key>
		<string>键盘</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_TAP</string>
		<key>image</key>
		<string>ir_control_tap.png</string>
		<key>name</key>
		<string>点击</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_TOUCH</string>
		<key>image</key>
		<string>ir_control_touch.png</string>
		<key>name</key>
		<string>触摸</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_ASTERISK</string>
		<key>image</key>
		<string>ir_control_asterisk.png</string>
		<key>name</key>
		<string>*</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_1</string>
		<key>image</key>
		<string>ir_control_1.png</string>
		<key>name</key>
		<string>1</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_2</string>
		<key>image</key>
		<string>ir_control_2.png</string>
		<key>name</key>
		<string>2</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_3</string>
		<key>image</key>
		<string>ir_control_3.png</string>
		<key>name</key>
		<string>3</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_4</string>
		<key>image</key>
		<string>ir_control_4.png</string>
		<key>name</key>
		<string>4</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_5</string>
		<key>image</key>
		<string>ir_control_5.png</string>
		<key>name</key>
		<string>5</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_6</string>
		<key>image</key>
		<string>ir_control_6.png</string>
		<key>name</key>
		<string>6</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_7</string>
		<key>image</key>
		<string>ir_control_7.png</string>
		<key>name</key>
		<string>7</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_8</string>
		<key>image</key>
		<string>ir_control_8.png</string>
		<key>name</key>
		<string>8</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_9</string>
		<key>image</key>
		<string>ir_control_9.png</string>
		<key>name</key>
		<string>9</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_0</string>
		<key>image</key>
		<string>ir_control_0.png</string>
		<key>name</key>
		<string>0</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_ADD_CUSTOMIZE</string>
		<key>image</key>
		<string>ir_control_customize.png</string>
		<key>name</key>
		<string>自定义</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>IR_ADD</string>
		<key>image</key>
		<string>ir_control_customize_add.png</string>
		<key>name</key>
		<string>添加自定义</string>
	</dict>
</array>
</plist>
