<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>scenario_leave.png</string>
		<key>imagename</key>
		<string>scenario_leave</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_customize.png</string>
		<key>imagename</key>
		<string>scenario_customize</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_relax.png</string>
		<key>imagename</key>
		<string>scenario_relax</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_movie.png</string>
		<key>imagename</key>
		<string>scenario_movie</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_read.png</string>
		<key>imagename</key>
		<string>scenario_read</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_disarm.png</string>
		<key>imagename</key>
		<string>scenario_disarm</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_home.png</string>
		<key>imagename</key>
		<string>scenario_home</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_party.png</string>
		<key>imagename</key>
		<string>scenario_party</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_sleep.png</string>
		<key>imagename</key>
		<string>scenario_sleep</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_entertainment.png</string>
		<key>imagename</key>
		<string>scenario_entertainment</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_dinner.png</string>
		<key>imagename</key>
		<string>scenario_dinner</string>
	</dict>
	<dict>
		<key>image</key>
		<string>scenario_arm.png</string>
		<key>imagename</key>
		<string>scenario_arm</string>
	</dict>
</array>
</plist>
